*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan' , sans-serif;
}
 h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
 }
 h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
 }
 h4{
    font-size: 20px ;
    color: #222;
 }
 h6{
    font-weight: 700;
    font-size: 12px;
 }
 .section-p1 { 
    padding: 40px 0 ;
 }
 .section-m1{
    margin: 40px 0;
 }
 button.normal{
   font-size: 14px;
   font-weight: 600;
   padding: 15px 30px;
   color: #000;
   background-color: #fff;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   outline: none;
   transition: 0.2s;
 }
 body{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
 }
 /* header start */

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 70px;
   background:  linear-gradient(to top,#e84118,#f57e3e);
   box-sizing: 0 5px 10px rgba(0 , 0, 0, 0.5);
   position: sticky;
   top: 0;
   right: 0;
   z-index: 99;
}
#logo-header{
    width: 140px;
    height: 70px;
    object-fit: contain; 
    border-radius: 50%;
}
.header .logo{
   text-decoration: none;
   user-select: none;
}
.header  .logo h3{
   margin-left: 24px;
   color:#f8c291;
   user-select: none;
   font-family: cursive;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
   justify-self: left;
   margin-right: 15px;
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 16px ;
    font-weight: 300;
    color:#ffffff;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active{
    cursor: pointer;
   color:#b71540;
}
/* user */
#user{
   position: relative;
   display: inline-block;
}
#user .ul-2{
   display: none;
   left:-30px;
   position: absolute;
   width: 150px;
   height: 100px;
   background:#f57e3e;
}
#user .ul-2 li {
   border: none;
   box-shadow: #fac587;
   height: 30px;
   top:7px;
}
#user .ul-2 li a{
   text-decoration: none;
   text-align: center;
}
#user:hover > .ul-2{
   display: block;
}

/* ****
search */
.search-header{
   background-color: #ffffff;
   border-radius: 10px;
   margin-left: 100px;
}
#search-header-text{
   border: none;
   outline: none;
   background: none;
   padding: 7px 9px;
   font-size: 18px;
   width: 300px;
}
#btn-search-header{
   background-color: #ffffff;
   border: none;
   padding: 15px 15px;
   border-radius: 50%;
   font-size: 18px;
}
/* slider-top */
.slider-top{
   width: 51rem;
   background:#d8dce0 ;
   right: 100px;
}
.slider-top-header{
   position: relative;
   max-width: 50rem;
   margin: 0 auto;
}
.sliders{
   display: flex;
   aspect-ratio: 16/9;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 0.5rem;
}
.sliders img{
   flex: 1 0 100%;
   scroll-snap-align: start;
   object-fit: contain;
   /* giúp ảnh không bị bóp méo  */
}
.slider-nav-header{
   display: flex;
   column-gap: 1rem;
   position: absolute;
   border: 1.25rem ;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}
.slider-nav-header a{
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: #f9a546;
   opacity: 0.75;
   transition:opacity ease 250ms;
   margin-bottom: 10px;
}
.slider-nav-header a:hover{
   opacity: 1;
}
/* header top */
.header-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* contener */
.contener{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* lọc sản phẩm  */
.filter-panel{
   border:1px solid rgb(8, 129, 120,.09);
   border-radius: 10px;
   margin-top: 12px;
  
}
.filer-list{
   margin: 20px 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}
.filer-list h4{
   font-size: 1em;
   color: #222;
   font-weight: 600;
}
#btn-filter{
   height: 30px;
   background: linear-gradient(to top,#e84118,#f57e3e);
   color:#f3f5f7;
   border: none;
   border-radius: 8px;
   width: 340px;
   margin: 10px ;
   text-align: center;
   margin-left: 1090px;
   font-size: 1em;
   font-weight: 700;
}
#btn-filter:hover{
   opacity: 0.8;
   color:#e84118;
}
/* review */
.review{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px 20px;
}
.review a img{
   width: 336px;
   object-fit: contain;
}
/* sản phẩm */
/* header pro */
.header-pro{
   background: linear-gradient(to top,#e84118,#f57e3e);
   margin-bottom: 5px;
   display: inline-block;
   height: 40px;
   border: 1px solid #e8de54;
   width: 300px;
   margin-right: 1200px ;
}
.header-pro h4{
   font-size: 18px;
   margin-top: 8px;
}
.header-pro h4 a{
   text-decoration: none;
   color: #fff;
}

/* ****
search */
.search-header{
   background-color: #ffffff;
   border-radius: 10px;
   margin-left: 100px;
}
#search-header-text{
   border: none;
   outline: none;
   background: none;
   padding: 7px 9px;
   font-size: 18px;
   width: 300px;
}
#btn-search-header{
   background-color: #ffffff;
   border: none;
   padding: 15px 15px;
   border-radius: 50%;
   font-size: 18px;
}
/* slider-top */
.slider-top{
   width: 51rem;
   background:#d8dce0 ;
   right: 100px;
}
.slider-top-header{
   position: relative;
   max-width: 50rem;
   margin: 0 auto;
}
.sliders{
   display: flex;
   aspect-ratio: 16/9;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 0.5rem;
}
.sliders img{
   flex: 1 0 100%;
   scroll-snap-align: start;
   object-fit: contain;
   /* giúp ảnh không bị bóp méo  */
}
.slider-nav-header{
   display: flex;
   column-gap: 1rem;
   position: absolute;
   border: 1.25rem ;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}
.slider-nav-header a{
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: #f5ae58;
   opacity: 0.75;
   transition:opacity ease 250ms;
   margin-bottom: 10px;
}
.slider-nav-header a:hover{
   opacity: 1;
}
/* header top */
.header-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* contener */
.contener{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* khung sp o trang chu  */
#product1 .pro-container{
   display:flex;
   justify-content: space-between;
   padding-top: 20px ;
   flex-wrap: wrap;
  
}
#product1{
   text-align: center;
}
#product1 .pro{

   width: 23%;
   min-width: 250px;
   padding: 10px 12px;
   border: 1px solid #ea8a42;
   border-radius: 25px;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(0 , 0, 0, 0.02) ;
   margin: 15px 0 ;
   transition: 0.2s ease;
   position: relative;

}
#product1 .pro:hover{
   box-shadow: 30px 30px 30px rgba(0 , 0, 0, 0.06);
}
#product1 .pro img{
   width: 100%;
   border-radius: 20px;
   object-fit: contain;
}
#product1 .pro .des{
   text-align: start;
   padding: 10px 0  ;
}
#product1 .pro .des span{
   color: #060606;
   font-size: 12px;
}
#product1 .pro .des h5{
   padding-top: 7px;
   font-size: 14px;
   color: #1a1a1a;
}
#product1 .pro .des i{
   font-size: 12px;
   color: #f79c35;
}
#product1 .pro .des p span{
   padding-top: 7px;
   font-size: 16px;
   font-weight: 700px;
   color:#e84118;
}
#product1 .pro .cart{
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   background-color: #e8f6ea;
   font-weight: 500;
   color: #fb8c32;
   border: 1px solid #cdebbc;
   position: absolute;
   bottom: 20px;
   right: 10px;

}
#banner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url(./ảnh/b2\ \(1\).jpg);
   width: 100%;
   height: 40vh;
   background-size: cover;
   background-position: center;
}
#banner h4{
   color: #fff;
   font-size: 16px;
}
#banner h2{
   color: #fff;
   font-size: 30px;
   padding: 10px 0 ;
}
#banner h2 span{
   color:#df6f37 ;
}
#banner button:hover{
   color: #df6f37;
}
/* footer */
footer{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 10px;
}
footer .col{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}
footer .logo{
   margin-bottom: 30px;
}
footer h4{
   font-size: 14px;
   padding-bottom: 20px;
}
footer p {
   font-size: 13px;
   margin: 0 0 8px 0 ;
}
footer.follow{
   margin-top: 20px;

}
footer.follow i{
   color: #465b52;
   padding-right: 4px;
   cursor: pointer;
}
footer .install .row img{
   border: 1px solid  linear-gradient(to top,#e84118,#f57e3e);
   border-radius: 6px;
}
footer .install img{
   margin: 10px 0 15px 0 ;
   object-fit: contain;
}
/* giỏ hàng  */
.cart{
   width: 100%;
   margin: auto;
   text-align: center;
}
.cart h2{
   color: #060606;
   width: 100%;
   height: 40px;
   font-size: 30px;
   font-weight: 600;
   font-style:initial;
   text-align: center;
   /* background-image: url(./ảnh/banner.png); */
   background-color:  linear-gradient(to top,#e84118,#f57e3e);
}
.cart table{
   width: 100%;
}
.cart table thead tr th:first-child{
   text-align: left;

}
.cart table tr td{
 border-bottom: 1px solid #fac587;
 padding: 12px 0 ;
}
.cart table thead tr th:last-child{
   text-align: right;
}
.cart table table tbody tr td:last-child{
   text-align: right;
}
.price-total p{
   text-align: right;
}
.price-total{
   display: flex;
   justify-content: space-between;
   top: 20px;
}
.price-total .mua{
   width: 120px ;
   height: 40px ;
   color:#e1e8e8;
   background-color: linear-gradient(to top,#e84118,#f57e3e);
   font-size: 1rem;
   font-weight:500;
}
.price-total .mua:hover{
   background-color: rgba(240, 152, 58, 0.8);
}
/* form thanh toán  */
.adreess-form{
   position: relative;
   width: 100%;
   top: 10px;
   left: -10px;
   margin-left: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center
}
.adress-form-content{
   width: 90%;
   background-color: rgba(248, 230, 210,0.5);
   border-radius: 5px;
   margin-top: 20px;
}
.adress-form-content form{
   padding: 12px 40px;

}
.adress-form-content h6{
   font-size: 19px;
   padding: 12px 0px;
   border-bottom: 1px solid #ddd;
   position: relative;
}
.adress-form-content form  p{
   font-size: 16px;
   text-align: center;
}
.adress-form-content form input,select{
   height: 45px;
   display: block;
   /* xuống hàng   */
   width: 100%;
   margin-top: 20px;
   border: 1px solid #ddd;
   padding: 6px;
   border-radius: 5px;
}
.adress-form-content form button{
   margin-top: 20px;
   height: 40px;
   width: 80%;
   cursor: pointer;
   background: linear-gradient(to top,#e84118,#f57e3e) ;
   outline: none;
   border: none;
   color: #f0f0f0;
   border-radius: 5px;
}

/* trang sản phẩm 
 nút xem thêm sản phẩm  */
.btnxemthem{
   width: 100%; 
   height: 50px; 
   border-radius: 10px; 
   color: rgb(16, 21, 26); 
   background-color: rgb(245, 207, 138);
   font-size: 1.4rem;
   font-weight: 600;
   font-style: normal;
   cursor: pointer;
   border: #cce7d0;
}
.btnxemthem:hover{
  opacity: 0.8;
}
/* slide sp  */

.slider-product{
   width:100%;
   margin-top: 15%;
   position: relative;
   transform: translate(-50%,-50%);
   overflow: hidden;
   border-radius: 8px;
   border: 10px solid #fff;
   box-shadow: 10px 25px 30px rgba(30,30, 200, 0.3);
   left: 50%;
   height: 450px;
 } 
.wrapper-product{
   width: 100%;
   display: flex;
   animation: slide 16s infinite ;
}
@keyframes slide{
   0%{
      transform: translateX(0);
   }
   25%{
      transform: translateX(0);
   }
   30%{
      transform: translateX(-100%);
   }
   50%{
      transform: translateX(-100%);
   }
   55%{
      transform: translateX(-150%);
   }
   75%{
      transform: translateX(-100%);
   }
   80%{
      transform: translateX(-180%);
   }
   100%{
      transform: translateX(0);
   }
}
.slider-product .wrapper-product img{
   width: 100%;
   object-fit: contain;
   height: 350px;
}
/* tìm kiếm nhanh  */
.box-searchlink{
   display: flex;
   width: 100%;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: -160px;
   position: relative;
}
.box-searchlink-item{
   align-items: center;
   border: 1px solid #e0e0e0;
   border-radius: 4px;
   color: #333;
   display: flex;
   font-size: 14px;
   line-height: 13px;
   margin-right: 8px;
   margin-bottom: 10px;
   min-height: 35px;
   max-height: 36px;
   padding: 6px 13px;

}
.box-searchlink-item img{
   object-fit: contain;
   height: 30px;
}
.box-searchlink-item img:hover {
   cursor: pointer;
   opacity: 0.6;
}
/* thanh lọc danh sách  */
.selectquick{
   width: 100%;
   height: 60px;
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: linear-gradient(to top,#e84118,#f57e3e);
}
.selectquick-item{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.selectquick-item span{
   font-size: 1.2em;
   font-weight: 600;
   margin-left: 40px;
   color: #fff;
}
.listselectquick{
   outline: none;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.listselectquick a{
   text-decoration: none;
   margin-top: 5px;
   font-size: 1em;
   font-weight: 550;
   color: #8b4800;
}
.listselectquick .listselectquick-item{
   margin-left:  40px ;
   width: 140px;
   height: 35px;
   text-align: center;
   border-radius: 3px;
   background:#fff;
   border-radius: 5px;
}
.listselectquick .listselectquick-item:hover{
   opacity: .7;
   cursor: pointer;
}
/* *****************************
login , register ************ */
#body-log{
   background-color: rgba(190, 201, 207, 0.8);
}
.welcome{
   text-align: left;
   margin: 5em 0 auto;
}
.welcome h2{
   font-size: 3em;
   font-weight: 400;
   line-height: 1.2;
   color: white;
   margin-bottom: 20px S;
}
.social ul{
   list-style: none;
}
.container-login{
   max-width: 1100px;
   margin: 0 auto;
}
.wrapper-login>div{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   max-width: 800px;
   min-height: 500px;
   margin: 5em auto;
   background-color: #1e90ff;
   overflow: hidden;
   box-shadow:rgba(0, 0, 0 , 0.45) 0 25px 20px -20px;
}
:is(.login,.signup)>div{
   position: relative;
   flex: 1 0 50%;
   padding:60px ;
}
.signup.content-heading-login .login-style{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.content-heading-login p {
   color: antiquewhite;
}
.content-form-login{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.login-style form input:not(#terms,#remember){
   font-family:inherit ;
   width: 100%;
   outline:0 ;
   margin: 0 0 20px;
   padding: 10px 15px;
   border-radius: 7px;
   border: 1px solid lightgray;
}
.login-style form input::placeholder{
   color:lightgray ;
}
.login-style form button{
   background-color: #eb3b5a;
   color: white;
   width: 100%;
   margin: 30px 0 ;
   border:0 ;
   line-height: 42px;
   border-radius: 7px ;
   font-weight: 700;
   cursor: pointer;
   /* transition: all .3s ease-out;
   -webkit-transition: all .3s ease-out; */
}
.login-style form button:hover{
   background-color: #000;
}
.afterform{
   text-align: center;
   margin-top: 20px;
}
.login-style form .check-login{
   position: relative;
   padding-left: 20px;
   font-size: 12px;
   float: left;
}
.login-style form .check-login input{
   position: absolute;
   left: 0;
   top: 4px;

}
.login-style form .forgot-login{
   float: right;
   font-size: 12px;
}
.login-style form label a, .afterform a{
   color: #050532 ;
}
.login-style form:is(p,label) a:hover,.afterform a:hover{
   border-bottom: 1px dotted;
}
.content-form-login::before{
   content:  '';
   position: absolute;
   width: 200% ;
   height: 200%;
   background-color: white;
   border-radius: 50%;
   transform: translate3d(-18%,-10%,0);
   -webkit-transform: translate3d(-18%,-10%,0);
   /* hiệu ứng chuyển động hình tròn */
   animation: move 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
   -webkit-animation: move 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes move{
   from{
      opacity: 0;
      transform: translate3d(50%,60%,0);
   }
   to{
      opacity:1;
   }
}
.login-style{
   position: relative;
   transform: translate3d(0 , 20% , 0 );
   -webkit-transform: translate3d(0 , 20% , 0 );
   animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
   -webkit-animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in{
   from{
      opacity: 0;
      transform: translate3d(0, 20%, 0);
   }
   to{
      opacity: 1;
   }
}
:is(.login-show,.signup-show) .login-style{
   transform: translate3d(0,0,0);
}
/* register */
.social :is(ul,p){
   display: flex;
   justify-content: center;
   position: relative;
   gap:20px;
   margin: 20px  0;
}
.social p::before{
   content: '';
   position: absolute;
   height: 1px;
   width: 90%;
   background-color: #cce7d0;
   top: 0;
   margin-top: 11px;
}
.social p span{
   background-color:white ;
   z-index: 1;
   padding: 0 20px;
   color: #cdebbc;
   font-size: 11px;
}
.social a{
   display: flex;
   font-size: 20px;
   transform: translateY(0);
   -webkit-transform: translateY(0);
   transition: transform .3s;
}
.social a:hover{
   transform: translateY(-5px);
   -webkit-transform: translateY(-5px);
}
.social .google{
   color: #db4437;
}
.social .face{
   color: #4267b2;
}
/* can thiệp vào css để khi ấn vào thì nó ẩn một form đi  */
.login-show .signup , .signup-show .login{
display: none;
}
.sigup-show .login , .login-show .login{
   display: flex;
}
.col-1{
   color: red;
   font-size: 15px;
   margin-top: -5px;
   margin-bottom: 25px;
}
/* 
************register */
/* chi tiết sản phẩm 
************************** */
.cps-container__body {
   width: 100%;
   position: relative;
}

#breadcrumbs {
   width: 100%;
   overflow: hidden;
   position: relative;
   box-shadow: 0 2px 0 0 rgba(60,64,67,.1);
}

#breadcrumbs .block-breadcrumbs__affix {
   display: flex;
   align-items: center;
   background: #fff;
   width: 100%;
   padding: 8px 0;
   overflow: auto;
   position: relative;
   z-index: 1;
}


.cps-container {
   display: block;
   float: left;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   position: relative;
}

.breadcrumb-text {
   color: #000;
   font-size: 13px;
   text-decoration: none;
}
.container-full {
   position: absolute;
   left: 3%;
   right: 3%;
   background-color: #fff;
}
#frame {
   background-color: #fff;
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   float: left;
   margin: 12px 0;
}
#frame .frame-left {
   width: 49%;
}
#frame .frame-left>img {
   width: 100%;
}
#frame .list-img-small {
   width: 100%;
   height: 75px;
   display: flex;
   justify-content: space-between;
   margin: 10px 0;
}
#frame .img-small {
   display: flex;
   width: calc((100%/6));
   height: 100%;
   padding-left: 10px;
   margin-right: 10px;
   border: 1px solid gray;
   border-radius: 10px;
}

#frame .img-litter {
   justify-content: center;
   align-items: center;
   width: 64px;
   height: 64px;
   padding: 4px 0;
   margin-right: 10px;
}

.box-warranty {
   display: flex;
   width: 100%;
}.box-info {
   display: inline-block;
   background: #f3bcbc;
   width: 100%;
   border: 1px solid #e5e7eb;
   border-radius: 10px;
   padding: 10px 10px 0;
}

.icon {
   display: flex;
   padding-right: 10px;
}
.item-info-content {
   display: flex;
   font-size: inherit;
   margin-bottom: 10px;
}
.frame-right {
   width: 49%;
}

.box-rating .icon-active {
   display: flex;
   float: left;
}

.list-memory {
   display: grid;
   grid-template-columns: repeat(4,minmax(0,1fr));
   gap: 1;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   border-width: 1px;
   align-content: center;
}

.box-memory {
   align-items: center;
   text-align: center;
   border: solid 1px;
   border-radius: 5px;
   width: 90%;
   padding: 16px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.box-memory :focus-visible {
   position: relative;
}

a {
   text-decoration: none;
}
.text-mo {
   text-decoration: none;

}
.checked-product {
   position: absolute;
   top: 0;
   right: 0;
   width: 21px;
   height: 21px;
   background-image: url(https://didongviet.vn/_next/static/media/checked.ddacf926.png);
}

.list-color {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   border-width: 1px;
   align-content: center;
   width: 98%;
   display: flex;
   justify-content: space-between;

}

.box-color {
   float: left;
   text-align: center;
   border: solid 1px;
   border-radius: 5px;
   width: 23%;
   display: block;
   align-items: center;
   cursor: pointer;
}

.box-color :hover {
   border: #d70018;
}

.item-color {
   float: left;
   display: inline;
   width:45%;
   font-size: 12px;
   padding: 8px 0;
   line-height: 1.5;
}
.img-item-color {
   width: 80%;
   border-width: 1px ;
}

.main-price {
   display: flex ;
   justify-content: space-between;
   justify-items: center;
   width: 100%;
}

.text-dvv {
   font-size: 30px;
   margin: 0;
   color: #f57e3e;
}

.box-order {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 98%;
   height: 64px;
   margin-top: 0.75rem;
   border-radius: 10px;
   cursor: pointer;
   position: relative;
   color: white;
   background-color: #d70018;
   border: #d70018;
   font-size: 20px;
}

.item-order {
   display: flex;
   align-items: center;
   flex-direction: column;
   cursor: pointer;
   box-sizing: border-box;
}

#frameone {
   background-color: #fff;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 1px;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   border-radius: 0.5rem;
   border: 1px solid #e5e7eb;
   box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
   margin: 12px 0;
}

#frameone .frameone-full {
   padding-top: 1 rem;
   padding-bottom: 1rem;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   border-radius: 0.5rem;
}

.similar-text {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   color: #e84118;
}
.similar-max {
   margin-right: 8px;
   background: #fff;
   border-radius: 10px;
   padding: 0.5rem 0.5rem;
   border: 1px solid rgb(233, 229, 229);
}
.similar-text-text {
   width: 100%;
   font-size: 14px;
   line-height: 20px;
   text-align: left;
   padding: 0.5rem 0.5rem;
   margin-right: 10px;
   color: black;
}

.similar-price {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 0 0.5rem;
}

.price-new {
   color: rgb(190 30 45);
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-align: left;
   margin-bottom: 0 !important;
}

#frametwo {
   background-color: #fff;
   width: 100%;
   display: inline-flex;
   justify-content: space-between;
   float: left;
   border-radius: 1px;
   border: 1px;
   padding: 12px 0;
}

#frametwo .frametwo-left {
   width: 70%;
}

.content-sp {
   display: inline-block;
   background: #fff;
   width: 100%;
   border: 1px solid #e5e7eb;
   border-radius: 10px;
   padding: 10px 10px 0;
   box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
}

.content-sp h2, h3 {
   width: 100%;
   font-size: 700;
   line-height: 1.5;
   font-size: 21px;
}

.content-sp p {
   font-size: 16px !important;
   line-height: 28px;
   margin-bottom: 15px !important;
}


.content-sp img {
   display: block;
   margin: 0 auto;
   max-width: 100%;
   height: auto;
   padding-top: 10px;
   margin-bottom: 10px;
   border-style: none;
}

.content-sp ul {
   margin: 0;
   padding: 0;
}
#frametwo .frametwo-right {
   width: 29%;
}

.paramater-sp {
   display: inline-block;
   background: #fff;
   width: 100%;
   border: 1px solid #e5e7eb;
   border-radius: 10px;
   padding: 10px 10px 0;
   box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
}
.relative {
   display: flex;
   align-items: flex-start;
   justify-items: flex-start;
   flex-direction: column;
   padding: 8px;
}
.screen {
   text-align: left;
   padding-bottom: 0.5rem;
   font-size: 14px;
   padding-bottom: 12px;
}
.text-paramater {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   width: 100%;
   padding: 0.5rem;
   background-color: rgb(243 244 246);
   opacity: 1;
}

.p-half {
   width: 50%;
}

.text-left {
   text-align: left;
   margin-bottom: 0 !important;
   font-size: 16px;
   margin: 0;
}

.text-right {
   text-align: left;
   margin-bottom: 0 !important;
   font-size: 16px;
   margin: 0;
}